body{
    background-color: lightcyan;
}
input.form-control, input.form-control:focus{
    background-color: lightblue;
    columns: black;
    border-color: black;
    border-radius: 0%;
    border-width: 2px;

}

input.form-control:focus{
    box-shadow: none;
    border-bottom-color: black;
}

button[type=submit].btn{
    border-radius: 20px;
    border-color: black;
    font-weight: bold;
    background-color:black;
    color: white;
}

div.form-group label{
    color: black;
    font-weight: bold;
}

div.form-group.required>label:first-child:after{
    content: '*';
    color: red;
    padding-left: 5px;
}

#toast-container>div{
    opacity: 1;
}
form{
    margin: 0px 16px;
}
div.slide-header{
    border: 3px solid black;
}